*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.header-area {
  background-image: url(/images/bg-main-mobile.png);
  position: relative;
  height: 15rem;
  margin-bottom: 50px;
}
input,
button {
  border-radius: 8px;
  border: 1px solid hsl(270, 3%, 87%);
}
.card-container img {
  width: 100%;
  height: auto;
  display: block;
}
.card-container {
  width: 275px;
  position: absolute;
}
.back-card-container {
  top: 40px;
  right: 20px;
}
.front-card-container {
  bottom: -35px;
  left: 20px;
}
.front-card-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  padding: 0 1rem;

}
.front-card-content p{
  margin-top: 24px;
  text-align: center;
}
.name-expire-dummy{
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
}
.floating-text{
  position: absolute;
  top: 64px;
  right: 40px;
  color: white;
  font-size: .8rem;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
.holder-name, .card-number, .card-security{
  margin-bottom: 12px;
}
/* styling for active errors */

.error {
  display: none;
  color: hsl(0, 100%, 66%);
  margin-top: 6px;
}
.input-error{
  border-color: hsl(0, 100%, 66%);
}
/* end styling for errors */

input {
  padding: 0.3rem 0;
  padding-left: 0.4rem;
}
label{
  color: hsl(278, 68%, 11%);
  margin-bottom: 3px;
  font-weight: bold;
}
::placeholder {
  color: hsl(270, 3%, 87%);
}
.input-item {
  display: flex;
  flex-direction: column;
}
.card-security {
  display: flex;
  justify-content: space-between;
}
.expire,
.cvc-container {
  width: 50%;
}

.mm-yy {
  display: flex;
  justify-content: space-around;
}
.month-input,
.year-input {
  margin-right: 5px;
}
.mm-yy input {
  width: 100%;
}
button {
  width: 100%;
  padding: 0.4rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  margin-top: 20px;
}
.complete-state{
  display: none;
}